<a href="https://colab.research.google.com/github/atarasaki/DSWP-editados/blob/main/2020-10-07-NB10_01__Pandas__Resposta_Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>PANDAS PARA DATA ANALYSIS</i></b></h1></center>



# **Resposta dos Exercícios**

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas2.jpeg?raw=true)

___
# **Exercícios**

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

## Exercício 2
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir e faça o merge do dataframe df_esquerdo com o dataframe df_direito:

In [ ]:
df_esquerdo = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df_direito = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

## Exercício 3
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir:

In [ ]:
df_esquerdo = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df_direito = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

### Perguntas
* Qual o output e a interpretação dos comandos a seguir:

In [ ]:
pd.merge(df_esquerdo, df_direito, on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'outer', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'right', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'left', on = ['key1', 'key2'])

## Exercício 5
5.1. Identifique e delete os atributos do dataframe df_Titanic que podem ser excluídos inicialmente no início da análise de dados.

___
## Exercício 6 - Resolvido
* Carregue o dataframe Titanic_With_MV.csv e analise o dataframe em busca de inconsistências e Missing Values (NaN).

In [ ]:
# original Nélio
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token =AGDJQ63MNPPPROFNSO2BZW25XSR72', index_col= 'PassengerId')
df_Titanic.head()

https://raw.githubusercontent.com/atarasaki/DSWP/master/Dataframes/Titanic_With_MV.csv

In [ ]:
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/atarasaki/DSWP/master/Dataframes/Titanic_With_MV.csv', index_col= 'PassengerId')
df_Titanic.head()

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro

### Avaliando inconsistências nas COLUNAS

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
# Uniformizando o nome das COLUNAS
df_Titanic.columns= [cols.lower() for cols in df_Titanic.columns]
df_Titanic.head()

### Coluna 'pclass'

In [ ]:
df_Titanic['pclass'].value_counts()

In [ ]:
sns.countplot(x = 'survived', hue ='pclass', data = df_Titanic)

Não me parece nada estranho com a variável 'pclass'. Ou você identifica alguma coisa estranho?

### Coluna 'sex'

In [ ]:
sns.countplot(x = 'survived', hue ='sex', data = df_Titanic)

In [ ]:
df_Titanic['sex'].value_counts()

Qual sua opinião sobre esse preenchimento?

Algum problema?

Oops... Aqui temos vários problemas... Olhando para estes resultados, você concorda que 'male', 'm', 'MALE', M', 'mALE' e 'Men' se trata da mesma informação?

Da mesma forma, 'female', 'f', 'F', 'Female', 'fEMALE', 'Woman', 'w' e 'W' também se trata da mesma informação?

Então, vamos fazer o seguinte:

* Toda vez que eu encontrar um desses valores: ['m', 'MALE', 'M', 'mALE', 'Men'], vou substituir por 'male';
* Toda vez que eu encontrar um desses valores: ['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], vou substituit por 'female'.

In [ ]:
df_Titanic2= df_Titanic.copy()

#### Corrigir com df.replace()

In [ ]:
df_Titanic['sex2'] = df_Titanic['sex'].replace(['m', 'MALE', 'M', 'mALE', 'Men'], 'male')
df_Titanic['sex3'] = df_Titanic['sex2'].replace(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], 'female')

Vamos ver a distribuição dos dados novamente no gráfico:

In [ ]:
sns.countplot(x = 'survived', hue ='sex3', data = df_Titanic)

In [ ]:
df_Titanic['sex3'].value_counts()

Ok, de fato corrigimos os problemas de preenchimento da variável 'sex'.

#### Corrigir com df.map()

In [ ]:
df_Titanic= df_Titanic2.copy()

In [ ]:
d_sexo= {}
d_sexo.update(dict.fromkeys(['m', 'MALE', 'M', 'mALE', 'Men', 'male'], 'male'))
d_sexo.update(dict.fromkeys(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W', 'female'], 'female'))
d_sexo

Aplica a transformação:

In [ ]:
df_Titanic['sex2'] = df_Titanic['sex'].map(d_sexo)
df_Titanic['sex2'].value_counts()

Qual a conclusão? Este preenchimento faz mais sentido que o anterior?

In [ ]:
# Deleta as variáveis 'sex':
df_Titanic = df_Titanic.drop(columns = ['sex'], axis = 1).rename(columns= {'sex2': 'sex'})

# Mostra os dados:
df_Titanic.head()

In [ ]:
sns.catplot(x="sex", kind="count", data = df_Titanic)

In [ ]:
sns.countplot(x = 'survived', hue ='sex', data = df_Titanic)

### Feature Engineering
#### Coluna 'cabin'
* Construir as COLUNAS:
    * deck - Letra de Cabin;
    * seat - Número de Cabin

Sugestões:
1) Não descartar nenhuma informação (Fábio);

2) Coluna com número de cabines reservadas (Thomaz).

In [ ]:
set(df_Titanic['cabin'])

Como podemos ver, trata-se de uma variável categórica com vários níveis. Portanto, vamos capturar somente a primeira letra da variável 'cabin'. Para tal, vamos utilizar a função slice().

> str.slice() - Captura (slice) partes de s_Str.

A seguir, capturamos a primeira letra da variável 'cabin':

In [ ]:
# definindo a variável 'deck' que representará a primeira letra da variável 'cabin'
df_Titanic["deck"] = df_Titanic["cabin"].str.slice(0, 1) # slice(inicio, tamanho_da_string)
df_Titanic['deck'].value_counts()

A seguir, vamos extrair a parte numérica da variável 'cabin' usando Expressões Regulares:

In [ ]:
# Importar a biblioiteca para Expressões Regulares
import re

In [ ]:
# Primeiramente, usamos a função split() para separar o conteúdo da variável em COLUNAS: 
new = df_Titanic["cabin"].str.split(" ", n = 3, expand = True) 
new.head(5)

Observe acima que o comando gera quantos splits da variável eu quiser. No entanto, por simplicidade, me interessa somente o primeiro split.

Agora, vou extrair o número do assento do passageiro usando Expressões Regulares:

In [ ]:
# Aqui está o conteúdo de new[0]:
new[0].head()

In [ ]:
new2= new[0].str.extract('(\d+)')
new2.head()

Por fim, vou carregar esta informação ao dataframe df:

In [ ]:
df_Titanic["seat"] = new2
df_Titanic.head()

Por fim, excluir a variável 'cabin':

In [ ]:
df_Titanic= df_Titanic.drop(columns= ["cabin"], axis =1, errors="ignore")

### Coluna 'embarked'

In [ ]:
df_Titanic['embarked'].value_counts()

In [ ]:
sns.catplot(x="embarked", kind="count", data = df_Titanic)

Não vejo problemas com esta variável. Vamos em frente...

In [ ]:
sns.countplot(x = 'survived', hue ='embarked', data = df_Titanic)

In [ ]:
sns.countplot(x = 'pclass', hue ='embarked', data = df_Titanic)

In [ ]:
sns.countplot(x = 'sex', hue ='embarked', data = df_Titanic)

### Variável 'pclass'

In [ ]:
df_Titanic['pclass'].value_counts()

Algum problema com esta variável?

In [ ]:
sns.catplot(x="pclass", kind="count", data = df_Titanic)

### Coluna 'parch'

In [ ]:
df_Titanic['parch'].value_counts()

In [ ]:
sns.catplot(x="parch", kind="count", data = df_Titanic)

### Feature Engineering
* Criar a coluna 'sozinho_parch', onde sozinho_parch= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [ ]:
# Função para retornar 0 ou 1 em função dos valores de variavel
def sozinho(variavel):
    if (variavel == 0):
        return 1
    else:
        return 0

In [ ]:
df_Titanic['sozinho_parch'] = df_Titanic['parch'].map(sozinho)
df_Titanic.head()

### Coluna 'sibsp'

In [ ]:
df_Titanic['sibsp'].value_counts()

* Algum problema?

In [ ]:
sns.catplot(x="sibsp", kind="count", data = df_Titanic)

In [ ]:
sns.countplot(x = 'survived', hue ='sibsp', data = df_Titanic)

*---------------------------------------------------------------------------*2020-10-07

### Feature Engineering:
* Criar o atributo 'sozinho_sibsp', onde sozinho= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [ ]:
df_Titanic['sozinho_sibsp'] = df_Titanic['sibsp'].map(sozinho)
df_Titanic.head()

### Coluna 'fare'
> Discretizar a coluna 'fare' em 10 buckets.

In [ ]:
df_Titanic['fare_class'] = pd.qcut(df_Titanic['fare'], 10, labels=False)
df_Titanic['fare_class'].value_counts()

In [ ]:
sns.catplot(x="fare_class", kind="count", data = df_Titanic)

### Coluna 'age'
> Discretizar a coluna 'age' em 10 buckets.

In [ ]:
df_Titanic['age_class'] = pd.qcut(df_Titanic['age'], 10, labels=False)
df_Titanic['age_class'].value_counts()

In [ ]:
sns.catplot(x="age_class", kind="count", data = df_Titanic)

#### Alternativa para discretizar 'age'

In [ ]:
def Age_Category(age):
    if (age <= 1):
        return 1
    elif (age <= 5):
        return 2
    elif(age <= 10):
        return 3
    elif (age <= 15):
        return 4
    elif (age <= 20):
        return 5
    elif (age <= 25):
        return 6
    elif(age < 30):
        return 7
    elif(age < 35):
        return 8
    elif(age < 40):
        return 9
    elif(age < 45):
        return 10
    elif(age < 50):
        return 11
    elif(age < 60):
        return 12
    elif(age < 70):
        return 13
    elif(age < 80):
        return 14
    else:
        return 15

In [ ]:
df_Titanic['age_class2'] = df['age'].map(Age_Category)

In [ ]:
set(df_Titanic['age_category']) # Esse comando mostra os NaN's da coluna, se houver.

### Coluna 'title'

* Para fins de Data Manipulation, vamos capturar o tratamento dos passageiros contido na variável 'nome'. Ou seja, 'Mr.', 'Mrs.', 'Miss' e etc...

> Fonte: As funções get_title e title_map foram extraídas de https://www.kaggle.com/tjsauer/titanic-survival-python-solution

In [ ]:
df.head()

Primeiramente, vamos entender como funciona, step by step...

In [ ]:
'Allen, Mr. William Henry'.split(',')[1].split('.')[0].strip()

In [ ]:
def get_title(nome):
    if '.' in nome:
        return nome.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

def title_map(title):
    if title in ['Mr', 'Ms']:
        return 1
    elif title in ['Master']:
        return 2
    elif title in ['Ms','Mlle','Miss']:
        return 3
    elif title in ["Mme", "Ms", "Mrs"]:
        return 4
    elif title in ["Jonkheer", "Don", "Sir", "the Countess", "Dona", "Lady"]:
        return 5
    elif title in ["Capt", "Col", "Major", "Dr", "Rev"]:
        return 6
    else:
        return 7

Exercícios
* Melhorar a função title_map.

Captura o tratamento dos passageiros:

In [ ]:
df_Titanic['title'] = df_Titanic['nome'].apply(get_title).apply(title_map)  
set(df_Titanic['title']) # Esse comando mostra os NaN's da variável

Drop a coluna 'nome', pois não vamos mais precisar dela em nossas análises:

In [ ]:
df_Titanic= df_Titanic.drop(columns= ["nome"], axis =1)

Apresenta o conteúdo do dataframe:

In [ ]:
df_Titanic.head(10)

## Missing Value
> Faça o devido tratamento de NaN's das COLUNAS do dataframe df_Titanic.

In [ ]:
df_Titanic['age'].isna().sum()

## Relação causa --> efeito

A função a seguir nos ajudará com o Data Visualization, cruzando a variável-resposta 'survived' com qualquer outra passada à função:

In [ ]:
def taxa_sobrevivencia(df, column):
    title_xt = pd.crosstab(df[column], df['survived'])
    print(pd.crosstab(df[column], df['survived'], margins=True))
    title_xt_pct = title_xt.div(title_xt.sum(1).astype(float), axis =0)
    
    title_xt_pct.plot(kind='bar', stacked=True, title='Taxa de Sobrevivência dos Passageiros', 
                      color= ['r', 'g'])
    plt.xlabel(column)
    plt.ylabel('Taxa de Sobrevivência')
    plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.05),shadow=True, ncol=2)
    plt.show()

def grafico_catplot(x, y, hue = 'survived', col= None):
    plt.rcdefaults()
    g= sns.catplot(x= x, y= y, hue = hue, palette={'Died':'red','Survived':'blue'}, col= col, data = df, kind= 'bar', height=4, aspect=.7)
    plt.show()

Qual a relação entre a variável 'sex' e a variável-resposta?

In [ ]:
taxa_sobrevivencia(df_Titanic, 'sex')

## Exercício 7
> Algumas equipes estão a participar de um hackaton e estão a submeter seus respectivos resultados num repositório onde um script Python deveria ler automaticamente o nome dos arquivos, medir o resultado e publicar as equipes e seus respectivos resultados.

1. Coloque os arquivos csv XPTO_team1.csv, XPTO_team2.csv, XPTO_team3.csv, 
XPTO_team4.csv, XPTO_team5.csv, XPTO_team6.csv e Resultado.csv num repositorio/pasta intitulada '.../hackaton/resultados/
2. Desenvolva um script Python para ler os resultados e o nome das equipes e publique o placar.

## Exercício 8
Consulte a página [Pandas Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/pandas/index.php) para mais exercícios relacionados á este tópico.